{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Challenge @ Slabs</title>
    <link rel="stylesheet" href="{% static 'css/challenge_customize.css' %}">
</head>

<body>

    <div class="finalizewrapper">
        <div class="wrapperbody">
            <div class="bodytitle">
                <h1>SLABS CHALLENGE</h1>
            </div>
            <form action="/save/challenge" method="post">
                {% csrf_token %}
                <div class="wrapperinputfield">
                    <label for="ct-slabs">Contest Title</label>
                    <input type="text" name="" id="ct-slabs">
                </div>
                <div class="wrapperinputfield">
                    <label for="cp-slabs">Contest Password</label>
                    <input type="password" placeholder="Enter strong password or leave blank" name="" id="cp-slabs">
                </div>
                <div class="wrapperinputfield">
                    <label for="cot">Select open time</label>
                    <input type="datetime-local" name="" id="cot">
                </div>
                <div class="wrapperinputfield">
                    <label for="cct">Select close time</label>
                    <input type="datetime-local" name="" id="cct">
                </div>
                <div class="wrapperinputfield">
                    <label for="stz">Select time zone</label>
                    <select name="" id="stz">
                        <option value=""></option>
                    </select>
                </div>
                <div class="wrapperinputfield">
                    <label for="epc">Enter Problems Count</label>
                    <input type="text" name="" id="epc">
                </div>
                <div class="wrapperinputfield">
                    <label for="pts">Select Problem types</label>
                    <select name="" id="pts">
                        <option value="random">Random</option>
                        <option value="specified">Let me choose</option>
                    </select>
                </div>
                <div class="wrapperinputfield" id="optionalparam">
                    <label for="epi">Enter Problem Ids</label>
                    <input type="text" placeholder="comma seperated value of ids" id="epi">
                </div>

                <button type="submit">Create Challenge</button>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById('pts').addEventListener('change',function(){
        if(this.value==='specified'){
            document.getElementById('optionalparam').style.display = 'flex';
        }else{
            document.getElementById('optionalparam').style.display = 'none';
        }
    })
</script>
</html>