{% load static %}
<script src="{% static 'js/executecode.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://codemirror.net/5/theme/blackboard.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/material-ocean.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/cobalt.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/material-palenight.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/xq-light.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/shadowfox.css">
<link rel="stylesheet" href="https://codemirror.net/5/theme/dracula.css">